/*-------------------------------------------------------*\
    Breadcrumbs
/*-------------------------------------------------------*/

.breadcrumb-wrap {
    padding: 10px 0;
    background-color: #efefef;
    ul.breadcrumbs {
        li {
            float: left;
            padding: 0 5px 0 0;
            margin: 0;
            &.current a {
                color: $secondary-color;
            }
            &:first-child::before {
                content: none;
            }
            &:before {
                content: "\f101";
                padding: 0 8px;
                font-family: "fontawesome";
            }
        }
    }
}

.pagination {
    margin-left: 0;
    margin-bottom: 1rem;
}

.pagination::before, .pagination::after {
    content: ' ';
    display: table;
}

.pagination::after {
    clear: both;
}

.pagination li {
    font-size: 0.875rem;
    margin-right: 0.0625rem;
    display: none;
    border-radius: 3px;
}

.pagination li:last-child, .pagination li:first-child {
    display: inline-block;
}

@media screen and (min-width: 40em) {
    .pagination li {
        display: inline-block;
    }
}

.pagination a, .pagination button {
    color: #0a0a0a;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 3px;
}

.pagination a:hover, .pagination button:hover {
    background: #e6e6e6;
}

.pagination .current {
    // padding: 0.1875rem 0.625rem;
    background: $primary-color;
    color: #fefefe;
    cursor: default;
}

.pagination .disabled {
    padding: 0.1875rem 0.625rem;
    color: #cacaca;
    cursor: default;
}

.pagination .disabled:hover {
    background: transparent;
}

.pagination .ellipsis::after {
    content: '…';
    padding: 0.1875rem 0.625rem;
    color: #0a0a0a;
}

.pagination-previous a::before, .pagination-previous.disabled::before {
    content: '«';
    display: inline-block;
    margin-right: 0.5rem;
}

.pagination-next a::after, .pagination-next.disabled::after {
    content: '»';
    display: inline-block;
    margin-left: 0.5rem;
}